# Node.js
node_modules/

# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.tox/
.pytest_cache/
.coverage
htmlcov/
.reload/

# Virtual environments
venv/
env/
.venv/
ENV/
.ENV/

# Environment files
.env
.env.*
.env.local

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# VS Code specific
*.code-workspace
